body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgba(151, 23, 23, 0.8), rgba(31, 30, 30, 0.7)),url("img/fondo1.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.logo {
    width: 60px;
    margin-top: 5px;
}

.text-description {
    letter-spacing: 2px;
    font-family: sans-serif;    
}

.form-control {
    background: transparent !important;
    color: #fff !important;
}

a .fab {
    color: rgb(151, 80, 80);
    font-size: 25px;
    /* margin: 0 10px; */
}

#input_email::placeholder {
    font-style: italic;
    color:white;
  }